<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            
            <h2 th:text="${name}">Name of the profileowner</h2><p>'s profile! Welcome!</p>
        </div>


        <div>
            
            
           
               
                    <p>Here are profileowners skills! You can compliment their skills if you wish to by pressing a button.</p>
               

                <div th:each="skill : ${skills}">
                    <p th:text="${skill.nameOfTheSkill}">Skill name</p>
                    <p th:text="${skill.timesComplimented}">Skill times complimented</p>
                    <form th:action="@{/profile/{id}(id=${id})}"  method="POST">
                    <input type="hidden" name="id" th:value="${skill.id}"/>
                    <input type="submit" name="compliment" value="Compliment this skill!"/>
                           </form>
 </div>
            
          
</div>




             
                </body>
                </html>