<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
           <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/profile">Navigate through Winkedin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Your profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findconnections">Find connections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">See posts from connections</a>
                    </li>
              
                    <li class="nav-item">
                        <a class="nav-link" href="/signout">Sign out</a>
                    </li>    
                </ul>

            </div>  
        </nav>
        <div>

            <h2><span th:text="${name}">Name of the profileowner</span>'s profile! Welcome!</h2>
        </div>


        <div>




            <p>Here are profileowners skills! You can compliment their skills if you wish to by pressing a button.</p>


            <div th:each="skill : ${skills}">
                <p th:text="${skill.nameOfTheSkill}">Skill name</p>
                <p>Complimented this many times</p><p th:text="${skill.timesComplimented}">Skill times complimented</p>
                <form th:action="@{/profile/{id}(id=${id})}"  method="POST">
                    <input type="hidden" name="id" th:value="${skill.id}"/>
                    <input type="submit" name="compliment" value="Compliment this skill!"/>
                </form>
            </div>


        </div>

        <p><a href="/profile">Go back to your profile!</a></p>
        <p><a href="/findconnections">Find connections!</a></p>
        <p><a href="/posts">See posts!</a></p>
        <p><a href="/signout">Sign out</a></p>



    </body>
</html>